<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.pfcp.common.mapper.UserMapper">
	<resultMap id="userResultMap" type="UserVO">
		<id property="userNo" column="USER_NO" />
		<result property="userEmail" column="USER_EMAIL"/>
        <result property="userPass" column="USER_PASS"/>
        <result property="userName" column="USER_NAME"/>
	</resultMap>
	<select id="selectUser" resultMap="userResultMap">
		SELECT USER_NO,
				USER_PASS,
				USER_NAME,
				GENDER,
				USER_REGNO1,
				USER_REGNO2,
				USER_TEL,
				USER_ZIP,
				USER_ADD1,
				USER_ADD2,
				USER_EMAIL,
				BANK_CD,
				USER_ROLE,
				USER_BANKNO
		   FROM TB_USER
		  WHERE USER_NO=#{userNo}
	</select>
	<select id="findUserId">
		SELECT USER_NO
		  FROM TB_USER
		 WHERE USER_NAME=#{username}
		   AND USER_REGNO1=#{birthDate}
	</select>
	<select id="countByEmail" resultType="int">
		SELECT COUNT(*)
          FROM TB_USER
         WHERE USER_EMAIL = #{userEmail}
	</select>
	<update id="updateUserPassword">
		UPDATE TB_USER
		   SET USER_PASS=#{userPass}
		 WHERE USER_EMAIL=#{userEmail}
	</update>
	<select id="findUserEmail">
		SELECT USER_NO, USER_EMAIL, USER_NAME
		  FROM TB_USER
		 WHERE USER_EMAIL=#{userEmail}
	</select>
</mapper>