<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.pfcp.staff.facility.mapper.FacilityMapper">

	<select id="selectFacilityList">
	SELECT
	    FACILITY_NO,
	    FACILITY_NAME,
	    FACILITY_TYPE,
	    LOCATION,
	    FACILITY_MP,
	    FACILITY_STATUS
	FROM
	    FACILITY
	</select>
	
	<select id="selectFacility">
	SELECT
		FACILITY_NO,
	    FACILITY_NAME,
	    FACILITY_TYPE,
	    LOCATION,
	    FACILITY_MP,
	    FACILITY_STATUS
	FROM
	    FACILITY
	WHERE FACILITY_NO = #{facilityNo}
	</select>
	
	<insert id="insertFacility">
		INSERT INTO facility (
		    FACILITY_NO,
		    FACILITY_NAME,
		    FACILITY_TYPE,
		    LOCATION,
		    FACILITY_MP,
		    FACILITY_STATUS
		) VALUES ( 
				   'FC' || LPAD(SEQ_FACILITY_NO.NEXTVAL, 8, '0'),
				   #{facilityName},
		           #{facilityType},
		           #{location},
		           #{facilityMp},
		           #{facilityStatus} )
	</insert>
	
	<update id="updateFacility">
		UPDATE FACILITY
			SET FACILITY_NAME = #{facilityName}
			    , FACILITY_TYPE = #{facilityType}
			    , LOCATION = #{location}
			    , FACILITY_MP = #{facilityMp}
			    , FACILITY_STATUS = #{facilityStatus}
			WHERE FACILITY_NO = #{facilityNo}
	</update>
	
	<select id="selectReservationTimestamp" parameterType="String">
		SELECT
		    RESERVATION_ID,
		    RESERVATION_DAY,
		    START_HOUR,
		    RESERVATION_TYPE,
		    USER_NO,
		    FACILITY_NO
		FROM
		    RESERVATION_TIMESTAMP
		WHERE FACILITY_NO = #{facilityNo}
	</select>

</mapper>